<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/Redactie-Portaal/index.json" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	</packageSources>
	<!--<packageSourceCredentials>
		<github>
			<add key="Username" value="chasit" />
			<add key="ClearTextPassword" value="%NUGET_TOKEN%" />
		</github>
	</packageSourceCredentials>-->
</configuration>